#container {
  display         : flex;
  margin          : 20px auto;
  padding         : 10px;
  justify-content : space-around;
  max-width       : 420px;
  background-color: white;
}

img {
  object-fit   : cover;
  border-radius: 10px;
  margin       : auto 10px;
}

.common-info {
  display        : flex;
  flex-direction : column;
  justify-content: space-around;
}

select {
  border     : none;
  outline    : none;
  margin-left: -2px;
  width      : 140px;
  font-size  : 1rem;
  font-weight: 500;
}

@media (max-width: 360px) {
  #container {
    flex-direction : column;
    justify-content: center;
    align-items    : center;
  }
}