#common-info {
   display       : flex;
   align-items   : center;
   flex-direction: column;
   border-bottom : 0.5px solid grey;
   margin-left   : 1.8rem;

   h2 {
      margin-bottom: 0;
      margin-top   : 5px;
      font-size    : 1.5rem;
      font-weight  : 600;
   }

   p {
      color: #b3b3cc;
   }
}

img {
   object-fit   : contain;
   height       : 10rem;
   border-radius: 50%;
   margin-top   : 2rem;
}

button {
   margin       : 1.5rem 0.5rem;
   width        : 8vw;
   height       : 40px;
   border-radius: 5px;
   font-size    : 1rem;
}

.group-info {
   margin: 1.5rem 0.5rem 1rem 1rem;
}

.title-info {
   font-size: 1.1rem;
   color    : #50b7b7;
}

p {
   margin-bottom: 0;
}

#btn-close {
   margin          : 0;
   padding         : 0px;
   height          : 1.8rem;
   width           : 1.8rem;
   border          : none;
   outline         : none;
   float           : right;
   margin-right    : 3px;
   cursor          : pointer;
   background-color: transparent;
}

#btn-close:hover {
   background-color: #16e4e4;
   opacity         : 0.9;
}