<div id="profile" *ngIf="profile">
   <button nzType="default" id="btn-close" (click)="closeProfile()">
      <i nz-icon nzType="close" nzTheme="outline"></i>
   </button>
   <div id="common-info">
      <img [src]="profile.avatar" alt="avatar">
      <h2>{{profile.name}}</h2>
      <p>{{profile.title}}</p>
      <div>
         <button nz-button routerLink="/profile/{{profileId}}" (click)="closeProfile()" nzType="primary">Edit
            Profile</button>
         <button nz-button nzType="default">Change Status</button>
      </div>
      <hr />
   </div>
   <div id="detail-info">
      <div class="group-info">
         <p class="title-info">Role</p>
         <p class="profile-data">{{profile.role}}</p>
      </div>
      <div class="group-info">
         <p class="title-info">Email</p>
         <p class="profile-data">{{profile.email}}</p>
      </div>
      <div class="group-info">
         <p class="title-info">Phone</p>
         <p class="profile-data">{{profile.phone}}</p>
      </div>
      <div class="group-info">
         <p class="title-info">Address</p>
         <p class="profile-data">{{profile.address}}</p>
      </div>
   </div>
</div>